.el-breadcrumb {
    background-color: #F5F5F5;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .el-menu{
    border-right: none;
  }
  .el-menu--popup-right-start{
    margin-left: 0;
  }